.App {
  padding: 5px;
  background: url('./imgs/1420318956659.jpg');
  background-size: cover;
  height: 100vh;
  font-family: 'Jua', sans-serif;
  text-align: center;
}

.main-holder {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  font-size: 2em;
  height: 13px;
  width: 500px;
  color: #002d37;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.current-weather {
  border: 1px solid cornsilk;
  border-radius: 30px;
  background-color: rgba(177, 177, 177, 0.667); 
  height: 350px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 2;
  width: 100%;
  color: cornsilk;
}

.current-location {
  font-size: 1.3em;
  margin-bottom: 0px;
}

.current-component {
  margin: 5px 0px
}

.curr-icon {
  width: 65px;
  margin: 0px auto;
}

.current-day {
  margin: 0px 5px;
  font-size: 15px;
}

.hi-lo {
  margin-bottom: 30px;
  margin-bottom: 20px;
}

.day-summary {
  margin:  0px 5px 30px 5px;
}

.hourly-weather {
  border: 2px solid cornsilk;
  border-radius: 10px;
  width: 100px;
  color: cornsilk;
  background-color: rgba(177, 177, 177, 0.667);
  margin-top: 10px;
}

.dailyweather-card {
  background-color: rgba(177, 177, 177, 0.667);
  margin-top: 10px;
  margin: 0px 10px 0px 10px;
}

.day-style {
  width: 100px;
  height: 175px;
  border: 2px solid cornsilk;
  border-radius: 10px;
  color: cornsilk;
  margin-top: 10px;
}

.TenDayWeather {
  display: flex;
  flex-direction: row;
  height: 150px;
  color: cornsilk;
}

.hi-lo {
  margin-bottom: 0px;
}

.feels-like {
  margin-top: 0px;
}

.input-form {
  padding: 20px;
  padding-left: 25px;
  margin-top: 100px;
  grid-column: 1;
  grid-row: 1;
  color: #002d37;
  width: 500px;
}

.submit-btn {
  margin: 0px 10px;
  background: transparent;
  color: #002d37;
  border: 1px solid #002d37;
  border-radius: 10px;
  background-color: rgba(177, 177, 177, 0.667);
}

.input {
  margin: 0px 10px;
  font-family: 'Jua', sans-serif;
  background-color: cornsilk;
}