/* --------- BASE ---------- */

* {
  box-sizing: border-box;
  color: #002d37;
  font-family: 'Jua', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #002d37;
  font-size: 60px;  
  margin-top: 20px;
}

.App {
  padding: 5px;
  background: url('./imgs/1420318956659.jpg');
  background-size: cover;
  height: 100vh;
  font-family: 'Jua', sans-serif;
  text-align: center;
}

/* ---------- LAYOUT ------------- */

.App {
  display: grid;
  grid-template-areas: 
  "landing landing landing"
  "weather weather weather";
}

.card-holder {
  grid-area: daily;
}

.weather-box {
  grid-area: weather;
}

.landing {
  grid-area: landing;
  display: grid;
  grid-template-areas: 
  "title title"
  "input input"
}

.title {
  grid-area: title;
}

.input-form {
  grid-area: input;
}



/* ------- MODULES ------------ */


.header {
  width: 500px;
  color: #002d37;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
    /* Input */

.input-label {
  font-size: 28px;
}

.input {
  background-color: rgba(138, 138, 138, 0.4);
  border: none;
  color: #002d37;
  display: block;
  font-size: 16px;
  height: 25px;
  margin: 10px auto;
  padding-left: 20px;
  width: 200px;
}

.input::placeholder {
  color: #002d37;

}

.submit-btn {
  border: none;
  background-color:  #012c35ba;
  color: cornsilk;  
  font-size: 16px;
  height: 25px;
  margin: 0 5px;
  width: 95px;
}

.current-weather {
  border-radius: 30px;
  background-color:  rgba(177, 177, 177, 0.4); 
  font-size: 1.5em;
  margin: auto;
  width: 50%;
  color: cornsilk;
}

.current-location {
  font-size: 1.3em;
  margin-bottom: 0px;
}

/* Hourly & 10 day */

button.forecast-toggle {
  border: none;
  background-color:  #012c35ba;
  color: cornsilk;  
  font-size: 16px;
  height: 30px;
  width: 200px;
}

button.forecast-toggle:first-of-type {
  border-right: 3px solid cornsilk;
}

.TenDayWeather {
  color: cornsilk; 
  display: grid;
  grid-template-columns: repeat(10, minmax(150px, 1fr));
  height: 200px;
  margin-top: 30px;
  overflow: scroll;
  width: 100vw;
}

.day-style {
  box-shadow: -26px 58px 69px -12px rgba(0,0,0,0.66);
  -moz-box-shadow: -26px 58px 69px -12px rgba(0,0,0,0.66);
  -webkit-box-shadow: -26px 58px 69px -12px rgba(0,0,0,0.66);
  border-radius: 10px;
  color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.curr-icon {
  width: 65px;
  margin: 0px auto;
}

.current-day {
  margin: 0px 5px;
  font-size: 15px;
}

.hi-lo {
  margin-bottom: 30px;
  margin-bottom: 20px;
}

.day-summary {
  margin:  0px 5px 30px 5px;
}

.hourly-weather {
  border: 2px solid cornsilk;
  border-radius: 10px;
  width: 100px;
  color: cornsilk;
  background-color: rgba(177, 177, 177, 0.4);
  margin-top: 10px;
}

.hourlyweather-wrapper {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.hour {
  margin-bottom: 0px;
}

.condition {
  margin-top: 0px;
}

.dailyweather-card {
  background-color: rgba(177, 177, 177, 0.4);
  margin-top: 10px;
  margin: 0px 10px 0px 10px;
}





.hi-lo {
  margin-bottom: 0px;
}

.feels-like {
  margin-top: 0px;
}

.input-form {
  /* padding: 20px;
  padding-left: 25px;
  margin-top: 100px;
  grid-column: 1;
  grid-row: 1;
  color: #002d37;
  width: 500px; */
}




/* --------- STATE ----------- */

button:hover {
  cursor: pointer;
  background-color:  #012c35;
  font-weight: 500px;
}

button.forecast-toggle:disabled {
  background-color: white;
}